*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: aliceblue;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: black;
}

.page1{
    height: 100vh;
    width: 100%;
}

.details{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 4px 4px;
}
.nav{
    width: 100%;
    height: 60px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 8px;
}

.logo{
    height: 100%;
    width: 20%;
    /* background-color: red; */
    
}
.det{
    height:100%;
    width: 60%;
    /* background-color: orange; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1rem;
}
.sign{
    height: 100%;
    width: 20%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.carol{
    width: 100%;
    height: 80%;
    overflow: hidden;
    object-fit: cover;
    
    /* background-color: aqua; */
}
#img2{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.page2{
    width: 100%;
    min-height: 10vh;
    padding: 0 10px;
    margin-top: 70px;
    /* overflow: hidden; */
    /* margin-bottom: 70px; */
}

.description{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    /* background-color: aquamarine; */
    justify-content: space-between;
}

.cad{
    position: relative;
    left: 10%;
    top: 10%;
   width: 80%;
   height: 50%;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
    margin-top: 5%;
    margin-bottom: 5%;

    /* background-color: blueviolet; */
}
.page3{
    width: 100%;
    height: 30vh;
}
.foot{
    
    width: 100%;
    height: 150px;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    border: 1px solid white;
}
.footlast{
    width: 100%;
    height: 60px;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    font-size: 1rem;
}
